# -----------------------------------------------------
# Dependencies
# -----------------------------------------------------
node_modules/
 
# -----------------------------------------------------
# Production Build
# -----------------------------------------------------
dist/
build/

# -----------------------------------------------------
# Log files
# -----------------------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
 
# -----------------------------------------------------
# Vite cache / Temp files
# -----------------------------------------------------
.vite/
.eslintcache
*.temp
*.tmp
 
# -----------------------------------------------------
# System / OS files
# -----------------------------------------------------
.DS_Store
Thumbs.db
 
# -----------------------------------------------------
# IDE files
# -----------------------------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#env 
.env
.env.local